ul {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 10%;
}

li {
    font-size: 25px;
    
}

h2 {
    margin-left: 10%;
}

div.hidden {
    overflow: hidden;
}

body {
    height: 10%;
}

li.eliza_message {
    background-color : #338B33;
    color: #231456;
    font-style: italic;
    font-weight: bold;
}

li.user_message {
    background-color: #69B169;
    color: #231456;
    font-weight: bold;
}